#Backend

**/bin/
**/obj/
.vs/
*.user
*.suo
dotnetapp/Migrations/
dotnetapp/appsettings.json
nunit/

#Frontend

react/
node_modules/
build/
dist/
.env

reactapp/node_modules
reactapp/package-lock.json


dotnetapp/dotnetapp.sln
reactapp/src/tests
TestProject

# System
.DS_Store 
