#Backend

dotnetapp/Migrations/
dotnetapp/appsettings.json
nunit/

#Frontend

react/

reactapp/node_modules
reactapp/package-lock.json
reactapp/src/apiConfig.js

dotnetapp/dotnetapp.sln
reactapp/src/tests
TestProject 